.wp-block-achtvier-overlay-tile {
  position: relative;
  .linkoverlay {
    position: absolute;

    top: 0;
    p {
      padding-top: 0;
    }
    img {
      width: 100%;
    }

  }
}
.wp-block-achtvier-overlay-tile {
  .linkoverlay {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 15px;

  }
  .overlay-inner-wrapper {
    width: 100%;
    height: 100%;
  }
}
.linkoverlay:hover .overlay-inner-wrapper {
    background-color: rgba(0,0,0,.6);
    -webkit-transition: .7s ease;
    transition: .7s ease;
}

.linkoverlay a, .linkoverlay p {
    opacity: 0;
    -webkit-transition: .7s ease;
    transition: .7s ease;
}
.linkoverlay:hover a,.linkoverlay:hover p  {
    color: #fff;
    opacity: 1;
    -webkit-transition: .7s ease;
    transition: .7s ease;
}
